body {
    padding: 15px;
}

.input-table-controllers-wrapper {
    display: flex;
    max-width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
}


#perfume-count-input {
    max-width: 200px;
}

#add-input-row-btn {
    flex-basis: 150px;
}

.forms-wrapper {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
}

.perfume-input-table-wrapper {
    width: 100%;
    margin-right: 15%;
    margin-top: 15px;
}

.variables-forms {
    width: 100;
    margin-top: 15px;
}

.results-wrapper { 
    margin-top: 15px;
}

.upload-file-wrapper {
    margin-top: 15px;
}